doctype html
html
  head
    title Git Issues Search
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js", type='text/javascript')
    //script(src="lib/marked.js", type='text/javascript')
    //script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js", type='text/javascript')
    script(src="lib/react.js", type='text/javascript')
    script(src="lib/JSXTransformer.js", type='text/javascript')
    //link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css", media="all", type="text/css", charset="utf-8")
    link(rel="stylesheet", href="styles/style.css", media="all", type="text/css", charset="utf-8")
  body
    #app
    script(src="app/main.jsx", type='text/jsx')
