html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
body {
  color: #404040;
}
#app form {
  border-bottom: 1px solid #404040;
}
#app form input:focus,
#app form button:focus {
  outline: none;
}
#app form input {
  font-size: 16px;
  width: 260px;
  padding: 8px 5px;
  border: none;
}
#app form .slash {
  font-size: 16px;
  padding: 0 10px;
}
#app form .divider {
  border-right: 1px solid #404040;
  margin: 0 10px;
}
#app form button {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 5px 8px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms linear;
  -moz-transition: -moz-transform 200ms linear;
  -o-transition: -o-transform 200ms linear;
  transition: transform 200ms linear;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#app form button:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
#app .wrapper {
  width: 900px;
  margin: 0 auto;
}
#app .autocomplete {
  position: absolute;
  left: -999px;
  z-index: 9;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.7);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.7);
}
#app .autocomplete .item {
  padding: 5px 8px;
  cursor: pointer;
}
#app .autocomplete .item:hover {
  background-color: #f5f5f5;
}
#app .issues-list {
  padding-top: 20px;
}
#app .issues-list .item {
  padding: 5px 10px;
  border-bottom: 1px dashed #404040;
  background-color: #fff;
}
#app .issues-list .item .meta {
  height: 30px;
}
#app .issues-list .item .meta img {
  width: 30px;
  float: left;
  margin-right: 10px;
}
#app .issues-list .item p {
  margin-top: 5px;
}
